{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Huda Haryana</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="keywords">
    <meta content="" name="description">
    
    <!-- Favicon -->   
    <link href="{% static 'img/logo.png' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Libraries CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

	{% block extra_stylesheet %}
	{% endblock extra_stylesheet %}

</head>


<body>
    {% include 'formsearch.html' %}
	{% include "navbar.html" %}

    {% comment %}
    <!-- Messages -->   
	{% if messages %}
	<div class="">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
	{% endif %}
    <!-- EndMessages --> 

    {% endcomment %}

    {% block content %}
    {% endblock content %}
    </div>
  
    {% block extra_body %}
    {% endblock %}
  
    {% include "footer.html" %}
    {% include "scripts.html" %}
  
    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>
</html>