{% load static %}

<!-- Footer
================================================== -->
<div id="footer" class="dark">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<img class="footer-logo" src="{%  static 'images/logo2.png' %}" alt="">
				<br><br>
				<p>About Us<br>
At HomePlanify, we believe that when it comes to finding a home what's outside the front door is just as important as what's behind it. A Home is one of the most expensive things in one's life and we make certain you get the best deals with us.. We're committed to helping them discover a place where they will love to live and where they will feel more connected to the community and to each other. It's why we strive every day to help build a more neighborly world.
</p>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>Helpful Links</h4>
				<ul class="footer-links">
					<li><a href="{% url 'account_login' %}">Login</a></li>
					<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
					<li><a href="{% url 'core:userprofile' %}">My Account</a></li>
					<li><a href="{% url 'core:addproperty' %}">Add Property</a></li>
					<li><a href="{% url 'core:bookmarks' %}">Bookmarks</a></li>
                    <li><a href="{% url 'core:agents' %}">Our Agents</a></li>
                    <li><a href="{% url 'core:contact' %}">Contact</a></li>
				</ul>

				<div class="clearfix"></div>
			</div>

			<div class="col-md-3  col-sm-12">
				<h4>Contact Us</h4>
				<div class="text-widget">
                    Phone: <span>  <a href="tel:999-999-8627">+91-9999998627 </a></span><br>
					E-Mail:<span> <a href="mailto:homeplanify@gmail.com">homeplanify@gmail.com</a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                </ul>

			</div>

		</div>

		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2020 Huda Haryana. It doesn't have any connection with Government nor government involved it just a informative site.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->