{% extends 'base.html' %}
{% load static %}
{% load indian_numbers_tags %}

{% block content %}
<!-- Wrapper -->
<div id="wrapper" class="mm-page mm-slideout">

    <!-- Banner -->
    <div class="parallax" data-background="{%  static 'images/3-Link-Building-Tactics-Strategies-for-Real-Estate-Firms-760x400.png' %}" data-color="#36383e" data-color-opacity="0.5" data-img-width="2500" data-img-height="1600">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="search-container">

                        <!-- Form -->
                        <h2>Find New Home</h2>

                        <!-- Row With Forms -->
                        <div class="row with-forms">

                            <form action="{% url 'core:properties' %}">

                             <div class="col-md-4">

                                    <div class="main-search-input">
                                        <input type="search" placeholder="Enter city" aria-label="City" name='city' value="{{ city }}" id = "city" />
                                    </div>
                            </div>
                            <!-- Main Search Input -->
                            <div class="col-md-8">

                                    <div class="main-search-input">
                                        <input type="search" placeholder="Search Using a Key Word" aria-label="Search" name='search' value="{{search_term}}"  />
                                        <button type = "submit" class="button"><i class="fa fa-search"></i></button>
                                    </div>
                            </div>
                                </form>
                            </div>


                        <!-- Row With Forms / End -->

                        <!-- Browse Jobs -->
                        <div class="adv-search-btn">
                            Need more search options? <a href="{% url 'core:properties' %}">Advanced Search</a>
                        </div>

                        <!-- Announce -->
                        <div class="announce">
                            We’ve 1000 properties for you!
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Content
    ================================================== -->
    <!-- Fullwidth Section -->
    <section class="fullwidth border-bottom margin-top-0 margin-bottom-0 padding-top-50 padding-bottom-50" data-background-color="#ffffff">

        <!-- Content -->
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <!-- Icon Box -->
                    <div class="icon-box-1 alternative">

                        <div class="icon-container">
                            <i class="im im-icon-Checked-User"></i>
                        </div>

                        <h3>Agent Finder</h3>
                        <p>See who specializes in your area, has the most reviews and the right experience to meet your needs.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Icon Box -->
                    <div class="icon-box-1 alternative">

                        <div class="icon-container">
                            <i class="im im-icon-Cloud-Computer"></i>
                        </div>

                        <h3>Modern Technology</h3>
                        <p>More than 10,000 customers buy or sell a home with us each year. We help people and homes find each together.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Icon Box -->
                    <div class="icon-box-1 alternative">

                        <div class="icon-container">
                            <i class="im im-icon-Idea"></i>
                        </div>

                        <h3>Home Designs Ideas</h3>
                        <p>Our specialists can help you get started on that home project. Find paint colors, that perfect tile and more. </p>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- Fullwidth Section / End -->

    <!-- Featured -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline margin-bottom-25 margin-top-65">Featured</h3>
            </div>

            <!-- Carousel -->
            <div class="col-md-12">
                <div class="carousel">

                {% for property in properties %}
                    <!-- Listing Item -->
                    <div class="carousel-item">
                        <div class="listing-item compact">

                            <a href="{% url 'core:property' property.id %}" class="listing-img-container">

                                <div class="listing-badges">
                                    <span class="featured">Featured</span>
                                    <span>{{ property.get_type_display }}</span>
                                </div>

                                <div class="listing-img-content">
                                    <span class="listing-compact-title">{{ property.property_name }} <i>₹ {{ property.total_price|floatword_indian }}</i></span>

                                    <ul class="listing-hidden-content">
                                        <li>City <span>{{ property.city }}</span></li>
                                        {% if property.type == "R" %}
                                        <li>Available From <span>{{ property.available_from }}</span></li>
                                        {% else %}
                                            <li>Construction Status<span>{{ property.get_construction_status_display }}</span></li>
                                        {% endif %}
                                        <li>Beds <span>{{ property.bedrooms }}</span></li>
                                        <li>Baths <span>{{ property.bathrooms }}</span></li>
                                    </ul>
                                </div>

                                <img src="{{ property.main_image.url }}" alt="">
                            </a>

                        </div>
                    </div>
                    <!-- Listing Item / End -->
                {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Featured / End -->

<!-- Fullwidth Section -->
    <section class="fullwidth margin-top-105" data-background-color="#f7f7f7">

        <!-- Box Headline -->
        <h3 class="headline-box">What are you looking for?</h3>

        <!-- Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box -->
                    <div class="icon-box-1">

                        <div class="icon-container">
                            <i class="im im-icon-Home-2"></i>
                            <div class="icon-links">
                            </div>
                        </div>

                        <h3>Houses</h3>
                        <p>With over 1000+ independent homes listed on the website available for sale.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box -->
                    <div class="icon-box-1">

                        <div class="icon-container">
                            <i class="im im-icon-Office"></i>
                            <div class="icon-links">
                            </div>
                        </div>

                        <h3>Apartments</h3>
                        <p>Find your Apartment with an actual photo experience and the most detailed listings, you won’t find anywhere else.</p>
                    </div>
                </div>



                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box -->
                    <div class="icon-box-1">

                        <div class="icon-container">
                            <i class="fas fa-home"></i>
                            <div class="icon-links">
                            </div>
                        </div>

                        <h3>Rental</h3>
                        <p>With filter options and keyword search,we can help you easily find a home or Apartment on rent that you'll love.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box -->
                    <div class="icon-box-1">

                        <div class="icon-container">
                            <i class="im im-icon-Clothing-Store"></i>
                            <div class="icon-links">
                            </div>
                        </div>

                        <h3>Commercial</h3>
                        <p>With 100+ commercial options, we help you to invest in right properties which helps you to grow your investment.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Fullwidth Section / End -->

    <!-- Container -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline centered margin-bottom-35 margin-top-10">Most Popular Places <span>Properties In Most Popular Places</span></h3>
            </div>

            <div class="col-md-4">

                <!-- Image Box -->
                <a href="properties?city=faridabad&search=" class="img-box" data-background-image="{% static 'images/faridabad.jpg' %}">

                    <!-- Badge -->
                    <div class="listing-badges">
                        <span class="featured">Featured</span>
                    </div>

                    <div class="img-box-content visible">
                        <h4>Faridabad</h4>
                        <span>140 Properties</span>
                    </div>
                </a>

            </div>

            <div class="col-md-8">

                <!-- Image Box -->
                <a href="properties?city=gurgaon&search=" class="img-box" data-background-image="{% static 'images/gurgoan.jpg' %}">
                    <div class="img-box-content visible">
                        <h4>Gurgaon</h4>
                        <span>240 Properties</span>
                    </div>
                </a>

            </div>

            <div class="col-md-8">

                <!-- Image Box -->
                <a href="properties?city=karnal&search=" class="img-box" data-background-image="{% static 'images/karnal.jpg' %}">
                    <div class="img-box-content visible">
                        <h4>Karnal</h4>
                        <span>12 Properties</span>
                    </div>
                </a>

            </div>

            <div class="col-md-4">

                <!-- Image Box -->
                <a href="properties?city=rohtak&search=" class="img-box" data-background-image="{% static 'images/rohtak.jpg' %}">
                    <div class="img-box-content visible">
                        <h4>Rohtak</h4>
                        <span>9 Properties</span>
                    </div>
                </a>

            </div>

        </div>
    </div>
    <!-- Container / End -->

    <!-- Fullwidth Section -->
    <section class="fullwidth margin-top-95 margin-bottom-0">

        <!-- Box Headline -->
        <h3 class="headline-box">Articles & Tips</h3>

        <div class="container">
            <div class="row">

                {% for post in recent_posts %}
                <div class="col-md-4">

                    <!-- Blog Post -->
                    <div class="blog-post">

                        <!-- Img -->
                        <a href="{% url 'blog:post' post.id %}" class="post-img">
                            <img src="{{ post.main_image.url }}" alt="">
                        </a>

                        <!-- Content -->
                        <div class="post-content">
                            <h3><a href="{% url 'blog:post' post.id %}">{{ post.title }}</a></h3>
                            <p>{{ post.get_shortest_content }}</p>

                            <a href="{% url 'blog:post' post.id %}" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                    <!-- Blog Post / End -->

                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- Fullwidth Section / End -->

    <!-- Fullwidth Section -->
    <section class="fullwidth margin-top-105 margin-bottom-0 padding-bottom-80 padding-top-95" data-background-color="#f7f7f7">

        <!-- Box Headline -->
        <h3 class="headline-box">What Our Clients Say</h3>

        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="testimonials-subtitle">We collect reviews from our customers so you can get an honest opinion of what an apartment is really like!</div>
                </div>

                <div class="col-md-4">
                    <div class="testimonial-box">
                        <div class="testimonial"> I felt 110% confident by partnering with HUDA Haryana.</div>
                        <div class="testimonial-author">
                            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="">
                            <h4>Sanjay Choudhary<span>Realtor</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="testimonial-box">
                        <div class="testimonial">I am thankful to HUDA Haryana for their support and expertise in finding me a residential plot in Sector 8, Faridabad . For a first time buyer, they not only helped find a right house, they also assisted me with all legal and commercial concerns.</div>
                        <div class="testimonial-author">
                            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="">
                            <h4>Pradeep Tewatia</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="testimonial-box">
                        <div class="testimonial">Finding Apartment on rent  I struggled for couple of months,but team Huda Haryana helped me to find right Apartment in my budget.Good experience with team.</div>
                        <div class="testimonial-author">
                            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="">
                            <h4>Shannu Shahi</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- Fullwidth Section / End -->


 <!-- Fullwidth Section -->
    <section class="fullwidth margin-top-105 margin-bottom-0 padding-bottom-80 padding-top-95" data-background-color="#f7f7f7">

        <!-- Box Headline -->
        <h3 class="headline-box">Enquire</h3>

        <div class="container">
            <div class="row">
                <form method="POST" role="form">
                    {% csrf_token %}

                    <div class="col-md-4">
                        {{ form.name }}
                    </div>
                    <div class="col-md-4">
                        {{ form.mobile_no }}
                    </div>
                    <div class="col-md-4">
                        {{ form.email }}
                    </div>
                    <div class="col-md-8">
                        {{ form.subject }}
                    </div>
                    <div class="col-md-2">
                        <button class="button fullwidth margin-top-5" type="submit">Send Enquiry</button></div>
                    <div class="col-md-2">
                        <a href="https://wa.me/9999998627"><button class="button fullwidth margin-top-5" style="background-color: green;">Whatsapp</button></a>

                    </div>

                </form>

            </div>
        </div>

    </section>
    <!-- Fullwidth Section / End -->

{% endblock content %}