{% extends 'base.html' %}
{% load static %}
{% load indian_numbers_tags %}

{% block content %}
<!-- Wrapper -->
<div id="wrapper" class="mm-page mm-slideout">


    <!-- Container -->
    <div class="container" style="margin-top: 50px;">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline centered margin-bottom-35 margin-top-10">Areas <span></span></h3>
            </div>

            {% for area in areas %}
            <div class="col-md-4">

                <!-- Image Box -->
                <a href="{{ area.image.url }}" class="img-box" data-background-image="{{ area.image.url }}">

                    <!-- Badge -->
{#                    <div class="listing-badges">#}
{#                        <span class="featured">Featured</span>#}
{#                    </div>#}

                    <div class="img-box-content visible">
                        <h4>{{ area.title }}</h4>
{#                        <span>{{ district.get_no_of_areas }} Maps</span>#}
                    </div>
                </a>

            </div>
            {% endfor %}



        </div>
    </div>
    <!-- Container / End -->

</div>
{% endblock content %}