{% load static %}

<!-- Scripts
================================================== -->
<script type="text/javascript" src="{%  static 'scripts/chosen.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/custom.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/dropzone.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/gmaps_api_v3.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/hoverIntent.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/infobox.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery.counterup.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery.jpanelmenu.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery-2.2.0.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery-migrate-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/maps.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/markerclusterer.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/masonry.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/mmenu.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/moment.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/quantityButtons.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/rangeSlider.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/sticky-kit.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/switcher.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/tooltips.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/waypoints.min.js' %}"></script>


