{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Bookmarked Listings</h2>


			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">


		{% include 'dashboard/dashboardsidenav.html' %}
		<div class="col-md-8">
			<table class="manage-table bookmarks-table responsive-table">

				<tr>
					<th><i class="fa fa-file-text"></i> Property</th>
					<th></th>
				</tr>

            {% if bookmark %}
                {% for property in bookmark.properties.all %}
				<!-- Item #1 -->
				<tr>
					<td class="title-container">
						<img src="{{ property.main_image.url }}" alt="">
						<div class="title">
							<h4><a href="#">{{ property.property_name }}</a></h4>
							<span>{{ property.city }}</span>
							<span class="table-property-price">Rs {{ property.total_price }}</span>
						</div>
					</td>
					<td class="action">
						<a href="{% url 'core:removefrombookmarks' property.id %}" class="delete"><i class="fa fa-remove"></i> Remove</a>
					</td>
				</tr>
                {% endfor %}
            {% else %}
                <tr>
					<td class="title-container">
						<div class="title">
							<h4><a href="#">You Haven't Bookmarked any Property !</a></h4>

						</div>
					</td>
				</tr>
            {% endif %}

			</table>
		</div>

	</div>
</div>

{% endblock content %}